<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href= "/style.css">

</head>
<body>
    <div class="statement">
        <h1>
            <span> </span>  
            Grumpy Cat
        </h1>
        <p>
            The cat that's always grumpy
        </p>

        <img src="https://pbs.twimg.com/profile_images/1080545769034108928/CEzHCTpI_400x400.jpg"/>
    </div>
    <center><a href="/about">See About Page</a></center>
</body>
</html>