<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Work Page</title>
    <link rel="stylesheet" href= "/style.css">

</head>
<body>
    <div class="statement">
        <h1>
            <span> </span>  
            Work
        </h1>
        <p>
            Being Grumpy ALL.THE.TIME
        </p>
       
        <iframe src="https://giphy.com/embed/5LU6ZcEGBbhVS" width="480" height="299" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
        <iframe src="https://giphy.com/embed/TOsUXudlSaLPW" width="480" height="479" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
        <iframe src="https://giphy.com/embed/LbGtuww7ZFhgQ" width="480" height="396" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
    </div>
    <a href="/home">Back</a>
</body>
</html>